# The GitHub App ID for authentication
APP_ID=your_github_app_id

# The GitHub App Private Key for authentication
APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nYOUR_GITHUB_APP_PRIVATE_KEY\n-----END RSA PRIVATE KEY-----"
