# ==========================================================
#  ANSIBLE VAULT - SECRET ZERO STORE
# ==========================================================

gcs_sa_key_json: |
  {
    "type": "service_account",
    "project_id": "your-gcp-project-id",
    "private_key_id": "...",
    "private_key": "-----BEGIN PRIVATE KEY-----\n...",
    "client_email": "backup-bot@your-project.iam.gserviceaccount.com",
    "client_id": "...",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token"
  }

gcs_bucket_name: "your-backup-bucket-name"

# Backup Encryption (GPG Passphrase)
backup_encryption_passphrase: "YOUR_BACKUP_DECRYPTION_PASSWORD"

# --- Core Services ---

# --- Unifi Controller (Mongo DB + Watchtower) ---
unifi_mongo_user: 
unifi_mongo_pass: 
unifi_watchtower_notification_url: 

# --- Pihole ---
pihole_init_password:
pihole_secure_password:

# Jenkins Admin (Initial setup)
jenkins_init_password:

# Watchtower Global Notifications (Discord Webhook URL)
watchtower_notification_url:

# --- Monitoring Services ---

# -- Grafana ---
grafana_init_password:
monitoring_discord_webhook_url:


# --- Database Services ---

# --- PgAdmin ---
pgadmin_default_email:
pgadmin_default_password:

# --- Postgres Core ---

# Root Superuser
postgres_root_user: 
postgres_root_password: 

# Portfolio App (Production)
portfolio_prod_db_user:
portfolio_prod_db_password:

# Portfolio App (Development)
portfolio_dev_db_user:
portfolio_dev_db_password:

# Trivia App (Production)
trivia_prod_db_user:
trivia_prod_db_password:

# Trivia App (Development)
trivia_dev_db_user:
trivia_dev_db_password: