gcp_project_id       = "your-gcp-project-id"
backup_bucket_name   = "your-gcp-bucket-name"
cloudflare_api_token = "your_long_cloudflare_api_token_here"
homelab_public_ip    = "198.51.100.24"   # Your residential IP Address
local_network_ip     = "10.100.10.5"     # Your Server's static IP
gcp_credentials_file = "../secrets/gcp-credentials.json"