services:
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=global"
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - core
      - database
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:80/misc/ping",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  pgadmin_data:
    external: true
    name: pgadmin_data

networks:
  core:
    external: true
  database:
    external: true
